@CHARSET "UTF-8";
.PNG-Add{ background-position: 0px 0px;}
.PNG-Add{background-position: 0px 0px;}
.PNG-Delete{background-position: -40px 0px;}
.PNG-Download{background-position: -80px 0px;}
.PNG-Edit{background-position: -120px 0px;}
.PNG-Mail{background-position: -160px 0px;}
.PNG-Refresh{background-position: -200px 0px;}
.PNG-Save{background-position: -240px 0px;}
.PNG-Search{background-position: -280px 0px;}
.PNG-Setting{background-position: -320px 0px;}
.PNG-Upload{background-position: -360px 0px;}
.PNG-User{background-position: -400px 0px;}
.PNG-Navigation{background-position: -440px 0px;}
.PNG-Exit{background-position: -480px 0px;}
.PNG-Left{background-position: -520px 0px;}
.PNG-Right{background-position: -560px 0px;}
.PNG-Delete_black{background-position: -40px -40px;}
.PNG-Download_black{background-position: -80px -40px;}
.PNG-Edit_black{background-position: -120px -40px;}
.PNG-Mail_black{background-position: -160px -40px;}
.PNG-Refresh_black{background-position: -200px -40px;}
.PNG-Save_black{background-position: -240px -40px;}
.PNG-Search_black{background-position: -280px -40px;}
.PNG-Setting_black{background-position: -320px -40px;}
.PNG-Upload_black{background-position: -360px -40px;}
.PNG-User_black{background-position: -400px -40px;}
.PNG-Add_black{background-position: 0px -40px;}
.PNG-Navigation_black{background-position: -440px -40px;}
.PNG-Exit_black{background-position: -480px -40px;}
.PNG-Left_black{background-position: -520px -40px;}
.PNG-Right_black{background-position: -560px -40px;}