/***************************{CSS Reset}*****************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {font-family:"微软雅黑" ;background: transparent; border: 0; margin: 0; padding: 0; vertical-align: baseline; font-size: 100%; font: inherit; -webkit-text-size-adjust: none; }
body { line-height: 1; color: #666; background-color: #F1F1F1;}
h1, h2, h3, h4, h5, h6 {
margin: 0;
font-family: "微软雅黑";
font-weight: bold;
color: inherit;
text-rendering: optimizelegibility;}
table { border-collapse: collapse; border-spacing: 0; }
label,select{display: inline-block; margin-bottom: 5px; color: #333333;font-size: 13px;font-weight: normal;line-height: 18px;}
select, input{height: 24px;}
object, :focus { outline: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section /* HTML 5 */ { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a img { border: none; }
a{text-decoration: none;}
/*********************{���}************************/
.clearfix { *zoom: 1;}
.clearfix:before,.clearfix:after {display: table; content: "";}
.clearfix:after { clear: both;}