<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn/ac/big/dp/dm/LabItemMapper.xml">
	
	<select id="selectPropertyByParam" parameterType="HashMap" resultType="int">
		select distinct(${needField}) from tb_diagitem
		where ${propName} = #{propValue}
		limit 0,1
	</select>
	
	<delete id="deleteDiagInfoById" parameterType="String">
		delete from tb_diagnosisinfo where id = #{id}
	</delete>
	
	<update id="updateDiagByParam" parameterType="DResult">
		update tb_diagnosisinfo set diagnosis_desc = #{diagnosis_desc}, 
									diagnosis_date = #{diagnosis_date}, 
									treat_days = #{treat_days},
									treat_result = #{treat_result}, 
									subject = #{subject}
		where id = #{id}
	</update>
	
	<select id="selectDiagCountByCondition" parameterType="HashMap" resultType="DiagCountDTO">
		select subject, ${condition} as name, count(*) as count from tb_diagitem
		group by subject, ${condition}
		having subject = #{subject}
	</select>
	
	<select id="selectPatientDiag" parameterType="HashMap" resultType="String">
		select distinct(subject) from tb_diagitem
		where patient_id = #{patientId}
		<if test="visitId!=null">
			<if test="visitId!=''">
				and visit_id = #{visitId}
			</if>
		</if>
	</select>
	<select id="selectMyDiagNameCount" resultType="DiagCountDTO" parameterType="HashMap">
		select ${condition} as name,count(*) as count,subject 
		from tb_diagitem GROUP BY subject,${condition}
		<if test="list!=null">
			<if test="list.size>0">
			having subject in
				<foreach collection="list" open="(" close=")" separator="," item="diag">
					#{diag}
				</foreach>
			</if>
		</if>
	</select>
	
	<select id="selectDiagName" resultType="String">
		select DISTINCT(subject) from tb_diagnosisinfo
	</select>
	
	<select id="selectDiagNameCount" resultType="DiagCountDTO" parameterType="List">
		select COUNT(distinct(concat(patient_id,visit_id))) as count,subject as name from tb_diagnosisinfo GROUP BY subject
		<if test="list!=null">
			<if test="list.size>0">
			having subject in
				<foreach collection="list" open="(" close=")" separator="," item="diag">
					#{diag}
				</foreach>
			</if>
		</if>
	</select>
	
	<select id="selectSubDiagNameCount" resultType="DiagCountDTO" parameterType="String">
		select count(distinct(concat(patient_id,visit_id))) as count,CONCAT(diagnosis_desc,"-",diagnosis_value) as name,subject from tb_diagnosisinfo group by CONCAT(diagnosis_desc,diagnosis_value) HAVING subject = #{subject}
	</select>
	
	<select id="selectCountDiagItemByParam" parameterType="DiagItemDTO" resultType="integer">
		select count(*) from v_diagitem
			<trim prefix="where" prefixOverrides="and">
				<if test="patient_id!=null">
					<if test="patient_id!=''">
						patient_id = #{patient_id}
					</if>
				</if>
				<if test="visit_id!=null">
					<if test="visit_id!=''">
						and visit_id = #{visit_id}
					</if>
				</if>
				<if test="name!=null">
					<if test="name!=''">
						and name = #{name}
					</if>
				</if>
				<if test="diagnosis_desc!=null">
					<if test="diagnosis_desc!=''">
						and diagnosis_desc = #{diagnosis_desc}
					</if>
				</if>
				<if test="diagnosis_value!=null">
					<if test="diagnosis_value!=''">
						and diagnosis_value = #{diagnosis_value}
					</if>
				</if>
				<if test="xy!=null">
					<if test="xy!=''">
						and xy = #{xy}
					</if>
				</if>
				<if test="yj!=null">
					<if test="yj!=''">
						and yj = #{yj}
					</if>
				</if>
			</trim>
	</select>
	<select id="selectDiagItemByParam" parameterType="hashMap" resultType="DiagItemDTO">
		select id, patient_id,visit_id,name,diagnosis_desc,diagnosis_value,diagnosis_date, diagnosis_no,treat_days,treat_result,xy,yj from v_diagitem
		<if test="diagItem!=null">
			<trim prefix="where" prefixOverrides="and">
				<if test="diagItem.patient_id!=null">
					<if test="diagItem.patient_id!=''">
						patient_id = #{diagItem.patient_id}
					</if>
				</if>
				<if test="diagItem.visit_id!=null">
					<if test="diagItem.visit_id!=''">
						and visit_id = #{diagItem.visit_id}
					</if>
				</if>
				<if test="diagItem.name!=null">
					<if test="diagItem.name!=''">
						name = #{diagItem.name}
					</if>
				</if>
				<if test="diagItem.diagnosis_desc!=null">
					<if test="diagItem.diagnosis_desc!=''">
						and diagnosis_desc = #{diagItem.diagnosis_desc}
					</if>
				</if>
				<if test="diagItem.diagnosis_value!=null">
					<if test="diagItem.diagnosis_value!=''">
						and diagnosis_value = #{diagItem.diagnosis_value}
					</if>
				</if>
				<if test="diagItem.xy!=null">
					<if test="diagItem.xy!=''">
						and xy = #{diagItem.xy}
					</if>
				</if>
				<if test="diagItem.yj!=null">
					<if test="diagItem.yj!=''">
						and yj = #{diagItem.yj}
					</if>
				</if>
			</trim>
		</if>
		limit #{fromIndex},#{pageSize}
	</select>
	<select id="selectDiagnoseByParams" resultMap="DiagnoseResultMap" parameterType="hashMap">
		select * from v_pat_diagnose
		<trim prefix="where" prefixOverrides="and|or">
			<foreach collection="list" item="param">
				and ${param.paramName} = #{param.paramValue}
			</foreach>		
		</trim>
	</select>
	
	<select id="selectDiagnoseResultByParams" resultMap="DiagnoseResultInfoMap" parameterType="map">
		select * from tb_diagnosisinfo
		where patient_id = #{patientid}
		and visit_id = #{visitid}
	</select>
	
	<select id="searchDiagResult" parameterType="hashMap" resultType="DResult">
		select diagnosis_desc,diagnosis_value,subject 
		from tb_diagnosisinfo
		<trim prefix="where" prefixOverrides="and|or">
			<foreach collection="list" item="param">
				and ${param.paramName}
				<if test="param.paramValue==null">
					IS NULL
				</if>
				<if test="param.paramValue!=null">
					= #{param.paramValue}
				</if>
			</foreach>		
		</trim>
	</select>
	
	<resultMap type="DiagnoseResult" id="DiagnoseResultInfoMap">
		<id column="patient_id" property="patientid"/>
		<result column="visit_id" property="visitid"/>
		<result column="treat_days" property="treat_days"/>
		<collection property="diagResult" ofType="DResult">
			<id column="id" property="id"/>
			<result column="diagnosis_type" property="diagnosis_type"/>
			<result column="diagnosis_no" property="diagnosis_no"/>
			<result column="diagnosis_desc" property="diagnosis_desc"/>
			<result column="diagnosis_value" property="diagnosis_value"/>
			<result column="subject" property="subject"/>
			<result column="diagnosis_date" property="diagnosis_date"/>
			<result column="treat_result" property="treat_result"/>
			<result column="code_version" property="code_version"/>
		</collection>
	</resultMap>
	
	<resultMap type="Diagnose" id="DiagnoseResultMap">
		<id column="id" property="id"/>
		<result column="patient_id" property="patientId"/>
		<result column="visit_id" property="visitId"/>

		<result column="zzgbbxz" property="zzgbbxz"/>
		<result column="zzgxzcd" property="zzgxzcd"/>
		<result column="qjzxzcd" property="qjzxzcd"/>
		<result column="hxzbbxz" property="hxzbbxz"/>
		<result column="hxzxzcd" property="hxzxzcd"/>
		<result column="ygbbxz" property="ygbbxz"/>
		<result column="ygzxzcd" property="ygzxzcd"/>
		<result column="jl" property="jl"/>
		<result column="bbzs" property="bbzs"/>
		<result column="ssjg" property="ssjg"/>
		<result column="ssrq" property="ssrq"/>
		
		<result column="name" property="name"/>
		<result column="sex" property="sex"/>
		<result column="age" property="age"/>
		<result column="jws" property="jws"/>
		<result column="gxyb" property="gxyb"/>
		<result column="gxb" property="gxb"/>
		<result column="tnb" property="tnb"/>
		<result column="nxgb" property="nxgb"/>
		<result column="grs" property="grs"/>
		<result column="xys" property="xys"/>
		<result column="xyn" property="xyn"/>
		<result column="jy" property="jy"/>
		<result column="yjs" property="yjs"/>
		<result column="yjn" property="yjn"/>
		<result column="jj" property="jj"/>
		<result column="jzs" property="jzs"/>
		<result column="jzycb" property="jzycb"/>
		<result column="tgjc" property="tgjc"/>
		<result column="sg" property="sg"/>
		<result column="tz" property="tz"/>
		<result column="jwsyn" property="jwsyn"/>
		<result column="grsyn" property="grsyn"/>
		<result column="jzsyn" property="jzsyn"/>
		<result column="bmi" property="bmi"/>
		<result column="cyzd" property="cyzd"/>
		<result column="cyyz" property="cyyz"/>
	</resultMap>
	
</mapper>
