<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn/ac/big/dp/dm/DrugMapper.xml">

	<select id="selectDrugsByPvid" parameterType="map" resultType="Drug">
		select t1.patientid, t1.visitid, t1.dosage, t1.administration, t1.frequency, t2.drug_name as drug_name, t2.package_spec, t2.package_units
		from tb_druginfo t1 left join tb_drug t2 on t1.drug_name = t2.drug_name
		where t1.patientid=#{patientid} and t1.visitid=#{visitid}
	</select>
	
	<select id="selectDrugsInIds" resultType="Drug">
		select * from tb_drug
		where id in 
		<foreach collection="list" item="drugName" separator="," open="(" close=")">
			#{drugName}
		</foreach>
	</select>
	
	<select id="selectAllDrugs" resultType="Drug">
		select * from tb_drug
	</select>
	
	<insert id="saveDrugInfo" parameterType="hashMap">
		insert into tb_druginfo(id,patientid, visitid, drug_name, dosage, dosage_units, administration, frequency)
		values
		<foreach collection="list" item="drug" separator=","></foreach>
			(#{drug.id}, #{drug.patientid},#{drug.visitid},#{drug.DRUG_NAME},#{drug.DOSAGE},#{drug.DOSAGE_UNITS},#{drug.ADMINISTRATION},#{drug.FREQUENCY})
	</insert>
	
</mapper>
