<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn/ac/big/dp/dm/VisitMapper.xml">
	<select id="selectAllVisit" parameterType="hashMap" resultMap="VisitMap">
		select t1.name, 
			   t2.patient_id,
			   t2.id as vid, 
			   t2.visit_id, 
			   t2.admission_date_time,
			   t2.dept_discharge_from,
			   t2.dept_admission_to,
			   t2.discharge_date_time,
			   t2.patient_class,
			   t2.admission_cause,
			   t2.consulting_doctor,
			   t2.attending_doctor,
			   t2.add_flag
		from tb_patientinfo as t1 LEFT JOIN tb_patvisit as t2 
		on t1.patient_id = t2.patient_id
			<if test="visit!=null">
			<trim prefix="where" prefixOverrides="and">
				<if test="visit.patientName!=null">
					<if test="visit.patientName!=''">
						t1.name=#{visit.patientName}
					</if>
				</if>
				<if test="visit.patientId!=null">
					<if test="visit.patientId!=''">
						and t2.patient_id=#{visit.patientId}
					</if>
				</if>
				<if test="visit.visitId!=null">
					<if test="visit.visitId!=''">
						and t2.visit_id=#{visit.visitId}
					</if>
				</if>
				<if test="visit.deptDischargeFrom!=null">
					<if test="visit.deptDischargeFrom!=''">
						and t2.dept_discharge_from=#{visit.deptDischargeFrom}
					</if>
				</if>
			</trim>
			</if>
			limit #{fromIndex},#{pageSize}
	</select>
	<select id="selectCountVisit" parameterType="Visit" resultType="Integer">
		select count(*)
		from tb_patientinfo as t1 LEFT JOIN tb_patvisit as t2 
		on t1.patient_id = t2.patient_id
			<trim prefix="where" prefixOverrides="and">
				<if test="patientName!=null">
					<if test="patientName!=''">
						t1.name=#{patientName}
					</if>
				</if>
				<if test="patientId!=null">
					<if test="patientId!=''">
						and t2.patient_id=#{patientId}
					</if>
				</if>
				<if test="visitId!=null">
					<if test="visitId!=''">
						and t2.visit_id=#{visitId}
					</if>
				</if>
				<if test="deptDischargeFrom!=null">
					<if test="deptDischargeFrom!=''">
						and t2.dept_discharge_from=#{deptDischargeFrom}
					</if>
				</if>
			</trim>
	</select>
	
	<select id="selectVisitByParam" parameterType="hashMap" resultMap="VisitMap">
		select visit_id,admission_date_time,admission_cause, patient_class,dept_discharge_from,consulting_doctor,attending_doctor
		from tb_patvisit
		where ${paramName}=#{paramValue}
	</select>
	
	<resultMap type="Visit" id="VisitMap">
		<id column="vid" property="id" />
		<result column="visit_id" property="visitId" />
		<result column="patient_id" property="patientId"/>
		<result column="add_flag" property="addFlag"/>
		<result column="name" property="patientName"/>
		<result column="admission_date_time" property="admissionDateTime"/>
		<result column="dept_admission_to" property="admissionTo"/>
		<result column="dept_discharge_from" property="deptDischargeFrom"/>
		<result column="discharge_date_time" property="dischargeDateTime"/>
		<result column="patient_class" property="patientClass"/>
		<result column="admission_cause" property="admissionCause"/>
		<result column="consulting_doctor" property="consultingDoctor"/>
		<result column="attending_doctor" property="attendingDoctor"/>
	</resultMap>
</mapper>
